/* ==========================================================================
 HERO INTRO IMAGE
 ========================================================================== */

.hero-image {
    background-image: url("../img/saratoga.jpg");
    background-size: cover;
    background-position: center;
    display: table;
    width: 100%;
    height: 100%;
    color: $white;
}

.hero-image-inner {
    display: table-cell;
    vertical-align: middle;
}